## Importing the data

In [37]:
import pandas as pd
import numpy as np
import yaml
sleep_data = pd.read_csv("data/raw/Sleep_health_and_lifestyle_dataset.csv")
display(sleep_data)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [ ]:
try:
    with open("../config.yaml",

In [2]:
sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
sleep_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [4]:
sleep_data.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [5]:
sleep_data.isnull()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,False,False,False,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
sleep_data.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [7]:
print(sleep_data.duplicated().sum())

0

In [8]:
sleep_data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
369    False
370    False
371    False
372    False
373    False
Length: 374, dtype: bool

In [9]:
sleep_data['Sleep Disorder'].value_counts()

Sleep Disorder
Sleep Apnea    78
Insomnia       77
Name: count, dtype: int64

In [10]:
sleep_data['Sleep Disorder'].isnull()

0       True
1       True
2       True
3      False
4      False
       ...
369    False
370    False
371    False
372    False
373    False
Name: Sleep Disorder, Length: 374, dtype: bool

In [11]:
sleep_data.duplicated().sum()

np.int64(0)

In [12]:
sleep_data.duplicated(subset=sleep_data.columns.difference(['Person ID'])).sum()

np.int64(242)

In [13]:
sleep_data.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [14]:
sleep_data_clean = sleep_data.drop_duplicates(subset=sleep_data.columns.difference(['Person ID']), keep='first')
display(sleep_data_clean)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,NaN
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,NaN
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [15]:
print(f"deleted: {len(sleep_data) - len(sleep_data_clean)} lines")

deleted: 242 lines

In [16]:
sleep_data_clean['Sleep Disorder'].isnull().sum()

np.int64(73)

In [17]:
sleep_data_clean = sleep_data.drop_duplicates(
    subset=sleep_data.columns.difference(['Person ID']), 
    keep='first'
).copy()

In [18]:
sleep_data_clean['Sleep Disorder'] = sleep_data_clean['Sleep Disorder'].fillna('None')

In [19]:
sleep_data_clean['Sleep Disorder'].value_counts()

Sleep Disorder
None           73
Sleep Apnea    30
Insomnia       29
Name: count, dtype: int64

In [20]:
display(sleep_data_clean)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,None
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,None
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [21]:
sleep_data_clean.duplicated(subset=sleep_data.columns.difference(['Person ID'])).sum()

np.int64(0)

In [22]:
sleep_data_clean['BMI Category'].value_counts()

BMI Category
Normal           57
Overweight       52
Normal Weight    16
Obese             7
Name: count, dtype: int64

In [23]:
sleep_data_clean['BMI Category'] = sleep_data_clean['BMI Category'].replace('Normal Weight', 'Normal')
sleep_data_clean['BMI Category'].value_counts()

BMI Category
Normal        73
Overweight    52
Obese          7
Name: count, dtype: int64

In [24]:
sleep_data_clean['Occupation'].value_counts()

Occupation
Nurse                   29
Doctor                  24
Engineer                22
Teacher                 15
Lawyer                  15
Accountant              11
Salesperson              9
Software Engineer        3
Scientist                2
Sales Representative     1
Manager                  1
Name: count, dtype: int64

In [25]:
sleep_data_clean['Gender'].value_counts()

Gender
Male      67
Female    65
Name: count, dtype: int64

In [26]:
sleep_data_clean['Age'].value_counts()

Age
43    11
36     8
29     7
44     7
30     6
31     6
32     6
35     6
59     5
39     5
45     5
41     5
37     5
38     5
50     5
49     5
53     4
33     4
51     4
52     3
57     3
42     3
28     3
48     2
40     2
54     2
55     1
56     1
34     1
58     1
27     1
Name: count, dtype: int64

In [27]:
sleep_data_clean['Blood Pressure'].value_counts()

Blood Pressure
130/85    28
140/95    21
120/80    18
125/80    18
115/75     9
135/90     7
140/90     3
132/87     3
125/82     3
126/83     2
129/84     2
135/88     2
128/85     2
117/76     2
130/86     2
128/84     1
131/86     1
115/78     1
119/77     1
121/79     1
118/76     1
122/80     1
142/92     1
139/91     1
118/75     1
Name: count, dtype: int64

In [28]:
sleep_data_clean[['Systolic', 'Diastolic']] = sleep_data_clean['Blood Pressure'].str.split('/', expand=True)

In [29]:
sleep_data_clean['Systolic'] = sleep_data_clean['Systolic'].astype(int)

In [30]:
sleep_data_clean['Diastolic'] = sleep_data_clean['Diastolic'].astype(int)

In [31]:
display(sleep_data_clean)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia,140,90
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,None,140,95
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,None,140,95
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95

In [32]:
sleep_data.shape

(374, 13)

In [36]:
sleep_data.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [43]:
sleep_data_clean = sleep_data_clean.rename(columns={
    'Person ID': 'person_id',
    'Gender': 'gender',
    'Age': 'age',
    'Occupation':'occupation', 
    'Sleep Duration': 'sleep_duration',
    'Quality of Sleep': 'quality_of_sleep', 
    'Physical Activity Level': 'physical_activity_level', 
    'Stress Level': 'stress_level',
    'BMI Category': 'bmi_category', 
    'Blood Pressure': 'blood_pressure', 
    'Heart Rate': 'heart_rate', 
    'Daily Steps': 'daily_steps',
    'Sleep Disorder': 'sleep_disorder',
    'Systolic': 'systolic',
    'Diastolic' : 'diastolic'
})

In [44]:
display(sleep_data_clean)

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder,systolic,diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia,140,90
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,None,140,95
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,None,140,95
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95

In [45]:
sleep_data_clean = sleep_data_clean.drop(columns='blood_pressure')

In [46]:
display (sleep_data_clean)

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,heart_rate,daily_steps,sleep_disorder,systolic,diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,85,3000,Insomnia,140,90
6,7,Male,29,Teacher,6.3,6,40,7,Obese,82,3500,Insomnia,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,68,7000,None,140,95
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,None,140,95
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95

In [47]:
sleep_data_clean = sleep_data_clean.reset_index(drop=True)

In [48]:
sleep_data_clean['person_id'] = range(1, len(sleep_data_clean) + 1)

In [49]:
sleep_data_clean.head()

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,heart_rate,daily_steps,sleep_disorder,systolic,diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
2,3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
3,4,Male,28,Software Engineer,5.9,4,30,8,Obese,85,3000,Insomnia,140,90
4,5,Male,29,Teacher,6.3,6,40,7,Obese,82,3500,Insomnia,140,90